.calculator {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
    border: 1px solid #080101;
    padding: 10px;
    background: #1c1212;
}

.display {
    font-size: 24px;
    padding: 10px;
    border: none;
    background-color: #f3dddd;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
}

button {
    margin: 5px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #080505;
}

button:hover {
    background-color: #565050;
}